<configuration>
	<appSettings>
		<add key="Align" value="MiddleLeft"/>
		<add key="DatabaseIP" value=""/>
		<add key="UserID" value=""/>
		<add key="USerPass" value=""/>
		<add key="DatabaseName" value=""/>
		<add key="DatabaseIP" value="152.89.234.190"/>
		<add key="UserID" value="kerieri_admin"/>
		<add key="USerPass" value="kerieriadmin123"/>
		<add key="DatabaseName" value="kerieri_in-sist"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Firstname" value=""/>
		<add key="Surname" value=""/>
		<add key="AuthLevel"/>
		<add key="HaHaFunny" value="false"/>
		<add key="BreakTime" value="30"/>
	</appSettings>

	<connectionStrings>
		<add name="ErrorMessages" connectionString="Data Source=.\ErrorMessages.db;Version=3" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
